[2021-05-07 07:25] Christian1984 opened #1 "MSFS Autostart not working for owners of Steam-Version"
The MSFS autostart feature, which is enabled by default, currently only works for owners of the Windows Store version of MSFS.

Owners of the Steam version will get an ugly error message shown.

Ideally this should be fixed by autodetecting which MSFS version is installed. Alternatively, the error should be handled by the server and an additional flag, i.e. `--steamfs` should be added and suggeste

[2021-05-07 09:08] Christian1984 opened #2 "Dynamic zooming and stretching"
Users requested dynamic "resolution-scaling". Personally, I noticed that the UI and displayed maps/documents appear stretched sometimes.

Therefore, a global, dynamic "resolution-scaling" and "stretch-scaling" feature should be added with 1.2.0.

[2021-05-07 09:10] Christian1984 opened #3 "Improve "Toolbar-Linebreak" on Notepad & Charts Viewer"
The toolbars on the notepad and charts viewer component do not adapt properly to "linebreaks" / very narrow window configurations. This should be fixed...

[2021-05-07 09:12] Christian1984 opened #4 "Improve "Can't load map" message!"
Depending on the 2D-display resolution chosen, the "can't load map message" can appear even if the connection was properly established. This should be fixed...

Therefore, the layout of the message should be improved. It could also be hidden when the iframes have properly loaded their content.

Also, double-check and update the content of the message!

[2021-05-07 09:16] Christian1984 opened #5 "[PRO] When teleport is enabled deactivate "in-between-waypoint-adding""
When teleport is enabled, clicking on a track-line still adds a waypoint instead of bringing up the teleport marker. This should be fixed...

[2021-05-07 09:18] Christian1984 commented on #2
Feature added!

[2021-05-07 09:26] Christian1984 opened #6 "Add persistance to charts viewer"
When activating/deactivating the charts viewer, the previously active document should be loaded. Add session persistence via local storage.

[2021-05-07 09:32] Christian1984 opened #7 "Add helicopter icon and toggle"
Helicopter pilotes requested a helicopter icon instead of the default airplane symbol. This, and a corresponding toggle should be added to the project.

[2021-05-07 19:11] Christian1984 commented on #2
done!

[2021-05-07 19:11] #2 closed, assigned to Christian1984

[2021-05-08 07:26] Christian1984 commented on #4
done!

[2021-05-08 07:26] #4 closed, assigned to Christian1984

[2021-05-08 11:42] Christian1984 commented on #5
done!

[2021-05-08 11:42] #5 closed, assigned to Christian1984

[2021-05-08 14:08] thedutchguy92 opened #8 "Notetaking via Keyboard"
Great app! i have the pro version and it works like a charm. one request though if possible. could you make the notepad also typable. so top half is writable and bottom half is typable? i find that typing frequenties is a lot faster than writing them.

[2021-05-08 15:34] Christian1984 commented on #3
done!

[2021-05-08 15:34] #3 closed, assigned to Christian1984

[2021-05-08 15:35] Christian1984 commented on #1
done! Improved the way the autostart feature works! Added batch files for windows store and steam versions to simplify FSKneeboard launch for the "average joe" :-)

[2021-05-08 15:35] #1 closed, assigned to Christian1984

[2021-05-08 15:39] Christian1984 commented on #8
Hey there. I had something like this on my mind, but wasn't sure how helpful it would be.

How do you use your keyboard when you are in VR? I'm very used to my keyboard and don't really have to look at it. However, when in VR, I find it quite hard to type anything, to be honest :-)

But when I get you right, you'd say that typing inside VR works good enough for you? Or are you considering a "softw

[2021-05-09 19:05] Christian1984 commented on #6
done!

[2021-05-09 19:05] #6 closed, assigned to Christian1984

[2021-05-09 20:02] thedutchguy92 commented on #8
Hey Christian,

I agree with you that the keyboard itself isn't that useful. But, the numpad is. Especially for radio frequencies, headings and altitudes. The things you mostly get when flying in vatsim. For initial IFR clearance I would use the mouse writing option. But for inflight clearances (altitude etc.) it would be great if you could quickly click on the kneeboard and punch in a couple of n

[2021-05-10 13:06] smitty97 opened #9 "Investigate a Potential chartbundle.com Integration"
Hi, Just wondering if it's possible to call up a chart from https://www.chartbundle.com/qc/ while in-game.  It would be so nice to not have to pre-populate the charts folder.  Maybe right-click on an airport on the map tab gives you the option to load its chart.

Thanks!

[2021-05-11 23:08] Richard-Walter opened #10 "Cross-Session Persistence of User Settings"
Small issue but would be nice to save map settings.  Everytime I run your the app I have to toggle off navigational data

[2021-05-14 16:42] Christian1984 commented on #10
I see what you mean. Up to this point, I have only implement client-side **session-persistence**, i.e. you have to configure these things once per flight, and then it stays this way for this particular flight. This should already be working properly in 1.1.0. Do you encounter issues with this "session persistence"? Or are you requesting persistence across multiple flights?

[2021-05-14 16:45] Christian1984 commented on #9
Great idea! Could you help me and get in touch with them if they are okay with me implementing "native" access to their charts into my extension? Also, we would have to investigate who is behind chartbundle and how they get ahold of their charts and if there are any license implications involved...

[2021-05-14 16:47] Christian1984 commented on #7
done!

[2021-05-14 16:47] #7 closed, assigned to Christian1984

[2021-05-14 17:46] smitty97 commented on #9
I don't know anyone at that site; it's just one i had bookmarked.  Aren't the charts (at least in usa) free public information put out by FAA?

[2021-05-14 17:50] OY-4671 commented on #8
Great App, much appreciated for VR. I downloaded this version today and are waiting for Pro access :-) , have used VRmap for a while. I have a thought about how great it would be to strap a Wacom drawing tablet (or another brand) to leg and be able to write with a pen on a notepad inside VR.  The pen has buttons that can be bound as mouse buttons, so I think this can be used to control all functio

[2021-05-14 20:53] Richard-Walter commented on #10
Yeah...I'm requesting persistence across multiple flights?

[2021-05-16 20:37] heerzJon-E opened #11 "Dark Mode"
Hello, Christian.

Great work on FSKneeboard! I cannot find a way to toggle a dark mode for night/storm flying. The display is fine during the day but too bright when it's dark out.

Thank you.

[2021-05-16 20:39] heerzJon-E opened #12 "Hotkey to show/hide FSKneeboard"
Is there a way to setup a key or button binding to toggle the FSKneepad display. I have a button mapped to toggle the default MSFS VFR map, which is very handy in VR, and I would like to be able to do the same for this.

Thank you.

[2021-05-19 09:17] OY-4671 commented on #8
I just saw your YT video about V1.2.0 - Thank you for the zoom function. Now I can't wait to get home and try the new features. The  waypoints you added last time is awesome, so nice that we are able to put in new waypoints with new course in flight, when we deviate from intended course. This is going to be one of the best and most usefull add-ons for VFR in VR. I payed to little for the pro versi

[2021-05-19 15:27] lexmirnov commented on #8
I can blind type, so I really would like to see keyboard input implemented

[2021-05-19 15:34] lexmirnov opened #13 "Incorrect Positioning"
On Map:
https://imgur.com/7JHoRjH
Actual position: parking spot at LFNW.

FSKneeboard Pro 1.2.0

Actions before:
My plane crashed someplace west of LFNW, I restarted the flight from autosave (didn't choose, just hit restart), but then closed the sim (not the server app!). Fired up the sim again, it had been running for some time before I actually returned to flight (the plane was cold & dark). The

[2021-05-19 17:20] lexmirnov commented on #13
One again the plane stopped updating in vr. After I landed and switched to monitor, fskneeboard-panel restarted itself (appeared though I didn't open it) and the position updated correctly. That without restarting server.

[2021-05-20 08:40] lexmirnov commented on #9
They are available via charts@chartbundle.com

Also, 'for news and updates, check our blog:sdwflying.blogspot.com or Twitter:@chartbundle

[2021-05-20 18:38] Christian1984 commented on #13
Thanks for the report, @lexmirnov - I assume that in the first scenario you described above the server just lost its connection to MSFS. In fact, when MSFS is shutdown, the server should also be shutdown. Weird, though, that this didn't happen...

Regarding that second issue you described: Maybe you could try to reproduce the problem and have a regular browser with active developer tools opened wi

[2021-05-20 18:40] Christian1984 commented on #12
Thanks a bunch for the great suggestion.

In fact, you aren't the first to bring this up (but the first one publicly posting this as an issue, so thanks a lot!) and it's definitely on my roadmap.

I'll leave the issue open to avoid duplicates until it is implemented, if feasible!

[2021-05-20 18:43] Christian1984 commented on #11
For the time being, you can select the "Carto Dark" map, but I do understand that you would like to see a dark mode for the charts viewer and notepad, preferably the entire panel, as well! Thanks for the suggestion!

[2021-05-23 00:38] Richard-Walter opened #14 "Load Flight Plan From MSFS Into FSKneeboard"
It would be nice to add flight plan to charts viewer,

[2021-05-23 02:06] wsqamo opened #15 "Improve Compatible With Other Toolbar Panels"
It's a great app, but how can it be used with other toolbars, such as bushtalk radio, simbrief panel, FSPM vfrmap, and so on, compatible with multiple toolbars

[2021-05-26 14:07] Christian1984 commented on #14
Hi Richard-Walter. Can you elaborate a bit what you mean.

Like what kind of flight plan? Do you mean a table where you have courses, distances, ETAs etc. listed? One way to do it right now would be to create a table with excel or a similar tool like a dedicated flight planner, export is as png or screenshot it and add it to your charts folder. Can you please point out what it is exactly that you

[2021-05-26 14:10] Christian1984 commented on #15
Hi wsqamo and thanks for reaching out. I am aware of the issue. Unfortunately, I haven't identified the exact cause for the issue. Do the other panels that you mentioned work together without crashing the sim? For example, can you run FSPM vfrmap and bushtalk radio, for example, together?

If anyone of you guys out there would like to investigate the issue further, please feel free to do so and fi

[2021-05-26 14:24] Christian1984 commented on #9
Sounds great!

It would be pretty cool if someone could help out here by reaching out to the guys behind chartbundle so that I can stay focused on actually implementing the stuff that you guys would love to see in the mod :-) It's a pretty good first step into open source contribution, not even requireing any coding skills!

Great first issue, therefore :-) Help out by simply getting in touch with

[2021-05-27 00:37] wsqamo commented on #15
Yes, I tried several toolbars I listed one by one with exclusion and combination methods. Using them individually or simultaneously did not cause problems for the simulator, but as long as you put vfrmap for VR, you can't load the flight normally, unless you use it alone. By the way, the previous versions of bushtalkradio also had problems that they can't be used together with other toolbars, Late

[2021-05-27 14:20] Christian1984 commented on #15
Fixed!

I will release hotfix 1.2.1 ASAP, probably tomorrow!

Thanks to @wsqamo for bringing my attention to bushtalkradio. I spoke to the author this afternoon and compared his v1.1 with his v1.2 which in combination helped me get the issue sorted out.

BIG THANK YOU!!!

![fskneeboard-compatible-with-other-panels](https://user-images.githubusercontent.com/5574632/119842478-01c07b00-bf07-11eb-9bf5

[2021-05-27 14:20] #15 closed, assigned to Christian1984

[2021-05-27 21:50] Richard-Walter commented on #14
Just like you can load the flighplan in little nav map and see the plan follow the flight plan path.  Just a line between waypoint segments

[2021-05-28 04:46] smitty97 opened #16 "Option for window close on MSFS exit"
I launch MSFS + FSkneeboard with Addons Linker.
If the fskneeboard server window is still up from a previous session with "Press enter to exit" then it will not relaunch a new server.

Please add a launch option --cleanexit or something that simply closes the server window on MSFS exit.  No is need to press enter.

[2021-05-28 06:53] Christian1984 commented on #16
Sounds good!

[2021-05-28 09:59] Christian1984 commented on #14
So what you can currently do on the map viewer is add manual waypoints and then watch your moving airplane following it. What I am currently implementing in addition to that is the possibility to pull the flightplan from msfs onto the map with a click of a button. That is what you are asking for, am I right?

[2021-05-28 10:50] Christian1984 commented on #16
done! Thanks for the suggestion @smitty97 - Will be released with v1.3.0 soon...

[2021-05-28 10:50] #16 closed, assigned to Christian1984

[2021-05-28 13:21] Richard-Walter commented on #14
Yep...pull the flight plan from msfs is a good idea

On Fri, 28 May 2021, 20:00 Chris, ***@***.***> wrote:

[2021-05-28 18:58] Christian1984 commented on #14
Great! Then this is almost done :-)

[2021-05-28 19:33] aduboy opened #17 "Add Wind Information"
Hello,

Thank you very much for your work om this excellent application. It is really great for flying in VR!

As an additional feature in the future, would it be possible to display wind speed and wind direction over the map?
For example, the old application Vfrma-enhanced had this type of information displayes in a bar at the top of the window (see screenshot attached) and it was very useful whe

[2021-05-29 12:02] Christian1984 commented on #17
HEy @aduboy - Thanks for the suggestion. Yes, that is something I already put on my TODO-List recently! :-) I'll leave the issue open until I have implemented it to avoid duplicates!

[2021-06-02 13:16] ovord opened #18 "Usage of OFM Tiles"
hi christian, great Job, can i specify the tile url somewhere to use OFM Tiles?

Oliver

[2021-06-05 19:41] Christian1984 commented on #18
Great idea. I remeber that I was looking into this a while ago but couldn't really find a documentation of their public API (and if they offer one). I've just sent them an email, though, referring to your request and asking them if they have a public API and how it could be accessed.

If it is not possible, there seems to be the possibility to download their map tile data and serve them locally, w

[2021-06-06 07:41] ovord commented on #18
Hi Chris,

i´m the core developer of OFM, we´ll find a way 😉

Von: Chris ***@***.***>
Gesendet: Samstag, 5. Juni 2021 21:42
An: Christian1984/vfrmap-for-vr ***@***.***>
Cc: Oliver Vorderegger ***@***.***>; Author ***@***.***>
Betreff: Re: [Christian1984/vfrmap-for-vr] Usage of OFM Tiles (#18)

Great idea. I remeber that I was looking into this a while ago but couldn't really find a documentation o

[2021-06-06 08:38] Christian1984 commented on #18
Wow, that's awesome :-) Love OFM. I used it a lot when I learned flying on VATSIM on the "flatscreen"!!! So, yeah, I'd love to add it to FSKneeboard.

The TileLayers are defined in maps.js:210ff. - All the data is currently pulled from public APIs.

I see two options using OFM tiles:

Option 1: Download them and put them in a local folder inside the FSKneeboard server's directory. Say /maps/ofmtil

[2021-06-06 08:47] ovord commented on #18
Lets use the server api directly, there is one issue though:

We need to give the corresponding airac cycle to the api, as new cycles need quite a while to render and that happens when the old cycle is still valid.

The function to calc the current airac cycle is:

public getCurrAiracId(dateVal: Date): number {

    let cDate = new Date(2003, 0, 23);

    let counter = 0;

    let lastCount = 0;

[2021-06-06 08:47] Christian1984 commented on #17
done!

![fskneeboard-wnd-1](https://user-images.githubusercontent.com/5574632/120918402-9881fa00-c6b4-11eb-8072-2b221a5ac67e.PNG)

[2021-06-06 08:47] #17 closed, assigned to Christian1984

[2021-06-06 08:48] Christian1984 commented on #14
done!

[2021-06-06 08:48] #14 closed, assigned to Christian1984

[2021-06-06 08:54] Christian1984 commented on #18
Yes, I'm German, too! If you like, we can discuss details in german via Discord!? I have launched a new FSKneeboard-Discord-Server the other day. You can find the invite at https://discord.fskneeboard.com and we have a dedicated german channel over there :-)

[2021-06-06 11:33] Christian1984 commented on #12
done and implemented as experimental feature. please provide feedback when released!

[2021-06-06 11:33] #12 closed, assigned to Christian1984

[2021-06-07 12:32] Christian1984 opened #19 "Panel Still Captures Mouse Clicks When Hidden by Hotkey Feature"
The view toggle works, but I find it still captures mouse inputs when hidden, preventing clicking on elements "behind" it, as if it were visible.

(reported by Jon-E via Discord)

[2021-06-08 07:34] Christian1984 commented on #18
@ovord Can you please share some information on the license implications of using OFM tiles in FSKneeboard? What license is the tile data published under?

[2021-06-08 08:43] ovord commented on #18
servus Chris,

das läuft unter der OFM Gerneral Users License: https://www.openflightmaps.org/live/downloads/20150306-GUL.pdf

LG

[2021-06-09 19:23] FenEstron135 opened #20 "Change Fontsizes to standart after minimize and than maximize"
Hi,
when i optimize the fontsize with the arrows ooinside the kneeboard and i minimize and than i maximize it again, all letzers on standard size and i have tobresize it again.
After the maximizing the kneeboard is new connecting to the server, i think.

[2021-06-10 09:17] Christian1984 commented on #11
done! I implemented a brightness control which you can use to set the overall panel brightness in 10% increments as well as a "red flash light mode"!

![dark-mode-4](https://user-images.githubusercontent.com/5574632/121498897-2aec0b80-c9dd-11eb-9fdc-30c69b45346e.png)
![dark-mode-3](https://user-images.githubusercontent.com/5574632/121498901-2c1d3880-c9dd-11eb-8d4b-65811b38f80b.png)
![dark-mode-2](

[2021-06-10 09:17] #11 closed, assigned to Christian1984

[2021-06-10 09:50] Christian1984 commented on #18
Really nice, Oliver :-)

Ich würde in der Attributions-Section im Readme dann https://www.openflightmaps.org/ verlinken. Passt dir das so?

![ofm-eddk](https://user-images.githubusercontent.com/5574632/121503942-d5662d80-c9e1-11eb-8b5d-03d3bfb96ad4.PNG)

[2021-06-10 10:40] Christian1984 commented on #20
Thanks for letting me know! I'll look into it!

[2021-06-10 10:52] Christian1984 commented on #20
done! fix will be part of 1.4.0

[2021-06-10 10:52] #20 closed, assigned to Christian1984

[2021-06-10 12:15] ovord commented on #18
sehr cool, testen ich will!

[2021-06-11 09:51] Christian1984 commented on #18
Sehr gern! Ich kann dir ne Preview-Version schicken. Magst du mir mal eine E-Mail an info@fskneeboard.com von einer Adresse schicken, an die ich das senden kann? Oder du kommst in den Discord :-)

[2021-06-12 12:16] Richard-Walter opened #21 "magenta line drawn from aircraft to first waypoint"
After loading the flight plan, a magenta line is always drawn from the aricraft to the first waypoint as shown in the attached photo.  Shouldn't it behave just like a normal garmin GPS?  HOw do we get rid of the magenta line attached to the aircraft?

![Capture](https://user-images.githubusercontent.com/47770368/121775514-87ad1900-cbcb-11eb-851c-73f7ade4e0fe.PNG)

[2021-06-15 20:04] Christian1984 commented on #21
Hi Richard.

My suggestion would be to simply remove that very first waypoint (which you have already passed, if I understand the situation shown in the image correctly?).

In my opinion, the system behaves as it is supposed to: The "first" waypoint is always the "next" waypoint and a magenta line is drawn from your current position to that ofrst waypoint (or, if you hide the aircraft symbol from

[2021-06-16 12:38] Richard-Walter commented on #21
Hey Chris, I guess I was after behaviour that is similar to Little Nav Map
and real world GPS avionics.  Only the flight plan is shown... there is no
connection between the aircraft and a waypoint.  I've attached a photo from
'little nav map' as an example.  My plane is off track represented by the
yellow plane icon.  Note there is no line drawn from the plane to the next
waypoint.  Hope this clea

[2021-06-19 10:31] ovord commented on #18
hi chris, hast mir schon mail geschrieben? nix gefunden :(

[2021-06-19 10:38] Christian1984 commented on #18
Hab ich! Allerdings hat dein Mail-Server die Mail gebounced. Ich hab dir dann am 11.06. ne Nachricht per Discord geschickt (mit nem Dropbox-Link) :-) Schau mal, ob die angekommen ist!

[2021-06-19 10:45] ovord commented on #18
Ahja, jetzt seh ichs, ich werds gleich mal testen heute 😉

thx

Von: Chris ***@***.***>
Gesendet: Samstag, 19. Juni 2021 12:39
An: Christian1984/vfrmap-for-vr ***@***.***>
Cc: Oliver Vorderegger ***@***.***>; Mention ***@***.***>
Betreff: Re: [Christian1984/vfrmap-for-vr] Usage of OFM Tiles (#18)

Hab ich! Allerdings hat dein Mail-Server die Mail gebounced. Ich hab dir dann am 11.06. ne Nachricht

[2021-06-19 23:53] Raging-Beard opened #22 "Opens every time change view back to cockpit"
If I turn it off by hotkey, changing view to external or drone causes it to reopen again upon switching back to interior view.

[2021-06-20 10:48] ovord commented on #18
hab gebuildet und installiert, aber jein ofm 😟

sent from mobile, please excuse typos and autocorrection mistakes.

________________________________
From: Chris ***@***.***>
Sent: Saturday, June 19, 2021 12:38:50 PM
To: Christian1984/vfrmap-for-vr ***@***.***>
Cc: Oliver Vorderegger ***@***.***>; Mention ***@***.***>
Subject: Re: [Christian1984/vfrmap-for-vr] Usage of OFM Tiles (#18)

Hab ich! All

[2021-06-20 12:02] Christian1984 commented on #18
Also wenn du das Repo clonen und selber bauen willst, dann musst du den Branch post-1-3-0 auschecken. OFM ist im master noch nicht drin. Der master ist immer auf dem Stand des letzten Releases...

Ansonsten benutz doch einfach den server und das Panel aus dem zip-File. Das sind ja schon die gebauten Binaries der Preview.

Wichtig ist, dass du beides, Server und Panel aus dem Preview-Zip benutzt.

[2021-06-20 19:21] ovord commented on #18
so einfach 😀, jetzt hats geklappt 👍. sieht super aus!

sent from mobile, please excuse typos and autocorrection mistakes.

________________________________
From: Chris ***@***.***>
Sent: Sunday, June 20, 2021 2:02:26 PM
To: Christian1984/vfrmap-for-vr ***@***.***>
Cc: Oliver Vorderegger ***@***.***>; Mention ***@***.***>
Subject: Re: [Christian1984/vfrmap-for-vr] Usage of OFM Tiles (#18)

Also wen

[2021-07-15 19:28] yoyo251 opened #23 "New feature - hotkey (problem with "Alt+...") is a problem"
Hi,
please to add more hotkeys, with Alt is unused for me. I use many save view position (so with Alt+1, 2 ect) but when I hit Alt in MSFS in VR I change position (to default one) and open in the same time FSKneeboard. Also I I jump to external view and back to VC (so with Alt also) FSKneeboard opens too immediately. With Alt+ T I see big blue circle on the ground so this key is wrong. Please to a

[2021-07-15 20:09] yoyo251 commented on #23
Also exist problem when you back from pan or drone view to VC, in the same time FSKneeboard opens too.

[2021-07-19 12:40] Christian1984 commented on #18
done, will be released with v1.4

[2021-07-19 12:40] #18 closed, assigned to Christian1984

[2021-07-19 13:03] Christian1984 commented on #13
This issue has been open for nearly two months now and I haven't received any additional bug reports and/or steps to reproduce the issue. I will close it for now. If the issue does resurface or additional information is available, then please feel free to re-open it.

[2021-07-19 13:03] #13 closed, assigned to nobody

[2021-07-20 08:38] Christian1984 commented on #23
I have added

- [Ctrl]+[Shift]+F
- [Ctrl]+[Shift]+K
- [Ctrl]+[Shift]+T

as additional options!

Will be released with v1.4

[2021-07-20 08:38] #23 closed, assigned to Christian1984

[2021-07-20 08:40] Christian1984 commented on #21
I have changed the behaviour in case the airplane is NOT visible: In that scenario the first line from the ltest known aircraft position to the first waypoint will be hidden... Otherwise a magenta line will be drawn from your current position to the first waypoint (as was before).

Will be released with v1.4

[2021-07-20 08:40] #21 closed, assigned to Christian1984

[2021-07-20 08:43] Christian1984 commented on #19
I have reproduced the issue but have, unfortunately, no clue how to fix this as of now, considering that the entire hotkey feature is a bit "hacky" and experimental. I have added a remark to the readme, though, to at least explain the afore-mentioned behaviour and announce it as a "known bug", if you will.

Any suggestions for how to fix this or how to implement a real, native MSFS hotkey is highl

[2021-07-20 08:53] Christian1984 commented on #22
That is correct and caused by the "hacky" nature of how the hotkey feature works internally. Please note that the feature is still experimental. For the time being, I have no idea how to really fix this other than implementing a natove MSFS hotkey, which I haven't found any documentation about, yet.

[2021-07-20 08:53] #22 closed, assigned to nobody

[2021-07-20 14:06] yoyo251 commented on #23
Thank You :- )))) ! btw. if you want I can check it before release :).   Rafal.

        Dnia 20 lipca 2021 10:38 Chris ***@***.***&gt; napisał(a):

 I have added

 [Ctrl]+[Shift]+F
 [Ctrl]+[Shift]+K
 [Ctrl]+[Shift]+T

 as additional options!
 Will be released with v1.4

 —  You are receiving this because you authored the thread.  Reply to this email directly,  github.com view it on GitHub , or  g

[2021-07-29 00:24] nikolaygekht opened #24 "MSFS Jul 27 update/Detached map freezes and causes MSFS to crash"
Environment:
MSFS with July 27 update
Win 10
Paid version of VFR Map

1) When I detach the map and move it to another display it completely freezes.
NOTE: pre-July 27 update, it was just lagging, but now it completely freezes

2) No matter how it is opened, detached, or not it now causes MSFS crash. I used it pre-update for a few days and there were no crashes.

Yep, I checked, if I remove `christ

[2021-07-31 09:04] Christian1984 commented on #24
As a workaround for the time being I would suggest to NOT use detached mode for now, but rather open a regular browser on your second screen and load up localhost:9000 until the issue has been sorted...

[2021-08-02 00:59] RaffCode-Personal opened #25 "Request: Support for Metric system and time between waypoint"
Hi there, I hope its ok to make feature requests here. Great software and a fantastic help navigating both in VR and pancake.

One thing that stood out to me is that the distance and climb info of waypoints is only in miles right now, which most people outside the US likely aren't familiar with. So an option to change that to metric would be nice.

Better yet for the distance would be to use the E

[2021-08-02 01:10] RaffCode-Personal opened #26 "Support for using the browser view on external devices (second PC, mobile)"
So, I just found your other post about using the viewer in the browser via localhost:9000 (btw, the ingame client doesn't seem to cause CTD for me this far) which works perfectly. I would like to use that on my Android tablet though so I tried it by replacing localhost with my PC's local IP address, but that only gave me the top bar of the map with missing symbols while the map body showed an erro

[2021-08-02 07:55] Christian1984 commented on #26
Interesting thought! I'll definitely look into that!!! And good analysis by the way: The hardcoded localhost as src attributes on the iframes is exactly why it fails!

[2021-08-02 08:00] Christian1984 commented on #25
👍 Great suggestions! I'll think about it. The thing is that, at least from my experience in real life aviation, most pilots, even here in Europe (except for glider pilots), heavily rely on imperial units in terms of measuring altitude in feet, airspeed in knots and distance in nautical miles, respectively. Don't you agree?

Adding an ETE, on the other hand, sounds like a really cool idea...

[2021-08-02 08:03] Christian1984 opened #27 "Icon of Ingame Panel Missing in MSFS Toolbar"
After installing Sim Update 5 the icon of the ingame panel is missing from the MSFS toolbar. This seems to be the case for other mods as well. After playing around a bit, I wasn't able to provide a "quick fix", hence I'd suggest to consider it a known bug for now until a solution is found!

[2021-08-03 11:55] Christian1984 commented on #27
Fixed in https://github.com/Christian1984/vfrmap-for-vr/commit/577471b94536f1f7a8ea52a00e5a8fb777762940 - Will be rolled out with upcoming hotfix v1.4.1

[2021-08-03 11:55] #27 closed, assigned to Christian1984

[2021-08-04 03:58] RaffCode-Personal commented on #25
Sorry for the kind of late reply, I am really bad at that somehow...

I honestly wouldn't know about the metric thing, I have zero piloting experience and just started the sim with last performance update, so I take your word for it ^^

But I agree, ETE would be way more useful than the absolute distance displayed. Ideally ETE might just be a number that the user can input instead of something aut

[2021-08-04 04:00] RaffCode-Personal commented on #26
Thanks for the reply. While I would be totally cool with just some hacky solution to use the web browser of an external device, depending on how serious you take this app it might be a sensible idea to hack together a quick and dirty web app for Android and iOS. That way you could basically advertise your app on the mobile app stores as well. Just as an idea :-)

[2021-08-04 09:56] yoyo251 opened #28 "1.4.0 - hotkey bug is present still (when you back to cockpit)"
This issue is present still - when you go from outside view (spot or drone) and back to VC in the same time the window with map will be opened. This issue was reported version before from few users (who use hotkey).

This views have keys in MSFS: END or INS. Pls check it. Of course, I only use this keys to return.
Tested with "hotkey 6" (but with the rest hotkeys was the same).

![1](https://user-

[2021-08-04 10:02] yoyo251 opened #29 "1.4.0. - no icon on icon map"
In this version I dont see icon of FS kneeboard:

![Bez tytułu](https://user-images.githubusercontent.com/87498218/128162628-2c8bd9e4-585a-4e56-89a5-1181d4225768.jpg)

[2021-08-04 10:02] yoyo251 commented on #29
MSFS SU5+hotfix.

[2021-08-04 10:03] yoyo251 commented on #28
MSFS SU5+hotfix.

Btw. if you want I can test the next version (find me on Facebook - write "yoyosims PL"). Thx.

[2021-08-04 20:14] Christian1984 commented on #28
Hi @yoyo251 and thanks for your report. That's a duplicate of #22 - Please see my comment here for further details: https://github.com/Christian1984/vfrmap-for-vr/issues/22#issuecomment-883221156

Closed as DUPLICATE!

[2021-08-04 20:14] #28 closed, assigned to nobody

[2021-08-04 20:16] Christian1984 commented on #29
Thanks for your report. This is a duplicate of #27 and is already fixed. Will be released with hotfix 1.4.1 - See here: https://github.com/Christian1984/vfrmap-for-vr/issues/27#issue-957874172

Closed as DUPLICATE!

[2021-08-04 20:16] #29 closed, assigned to nobody

[2021-08-17 22:30] aduboy opened #30 "Add LittleNavMap Webserver view"
Hello,

Thank you for your excellent tool. It is great for flying in VR. Good job!

Would it be possible in the future to add a layer with the LittleNavMap map view?  (it has a Webserver map that can be viewed in a browser)

Thank you very much!

[2021-09-05 17:19] Mutekidav opened #31 "distance and heading wrong after importation in FSKNEEBOARD"
Hello,
When I make my flight plan in mfs and import it in FSKNEEBOARD, the distance and the heading are wrong...
The navigation log in MFS shows the correct data.
There is a 13% error.
Am I doing something wrong?
Thanks for your help!

[2021-09-05 19:30] imjinc2k opened #32 "Save independent zoom/pan for each chart"
Flipping between a 4000x4000 VFR chart and a 1000x1000 airport diagram has the user manually panning and zooming each time, since those values seem to be global.  This would be more useful if each chart preserved its own independent zoom and pan settings during a session, so that when you flip back to a chart it shows the same area you left it on, regardless of how you've zoomed/panned other chart

[2021-09-14 13:18] Christian1984 commented on #32
Good thinking. I'll take it into consideration!

[2021-09-14 13:19] Christian1984 commented on #31
Thanks for the report! Can you please provide an example flight plan/waypoints, preferably with ICAO codes to recreate and a few screenshots?

[2021-09-14 13:20] Christian1984 commented on #30
Yeah, I started fiddling around with this idea a while ago. There's a separate branch (https://github.com/Christian1984/vfrmap-for-vr/tree/lnm-integration) which is a lot behind `master`, though. I'll eventually revisit it...

[2021-09-14 13:22] Christian1984 commented on #24
Is this issue still a thing, @nikolaygekht ? Or was it fixed by a sim update in the meantime?

[2021-09-18 02:47] Mutekidav commented on #31
I'am so sorry Chris,
when I tried to make screenshots, I realized that the units of measurement are in miles and not in nautical miles.
And MFS is in NM and not in Mi like your software.

Do you think you can find a solution to choose the unit of measurement please?

[2021-10-05 13:30] Christian1984 commented on #31
Sorry for the late response. I'll have to double check that. Obviously, it should be in NM... I'll take a look!

[2021-10-31 09:25] gentfarmer opened #33 "Request for vPilot"
Thanks for a great VR utility Christian.
Would it be possible to add the vPilot "window" to FSKneeboard for those of us who fly in VR on Vatsim?
There are various methods posted in the FS2020 forum to bring the vPilot window into the VR cockpit for WMR users but they seem to be hit and miss if they work.

[2021-11-15 15:24] Strat919 opened #34 "Program remaining open after shutting down the sim and more"
Hey Christian. Thanks for creating this great app:) I have a question. Is there any reason why you have the program remaining open  after  MSFS has been shut down? Is it possible to have it close automatically instead of having to hit enter? Maybe there is a reason I don't see. I run a batch opening fsdevmodelauncher.exe and vfr-for-vr instead of your fskneeboard-autostart-windows-store.bat. It sa

[2021-11-26 10:07] BjornB2 opened #35 "Request: Improvements to charts viewer"
Hi! Just installed the free version and would like to upgrade to pro, but I think the charts viewer would be more helpful with some features added:

1. A pdf to png conversion script
2. Multi page PDF (I.E. a checklist) to multiple PNG's with possibility to view them as a single document in the viewer
<s>3. Folder structure for png's</s> Seems to be there already :)

1 and 2 are actually features

[2021-11-26 17:51] BjornB2 commented on #35
[fskneeboard-charts.zip](https://github.com/Christian1984/vfrmap-for-vr/files/7610209/fskneeboard-charts.zip)

Made a sample where the pdfs in the pdf folder are processed and placed in \processed\originalfilename\ subfolders. Hope this somehow helps.

[2021-11-27 10:04] BjornB2 commented on #35
[fskneeboard-charts-subdirs.zip](https://github.com/Christian1984/vfrmap-for-vr/files/7611536/fskneeboard-charts-subdirs.zip)

Made some changes now I have the PRO license:

Put files in the pdf folder in subfolders and optional also in sub-sub folders. Folder structure and converted files will be put in C:\fskneeboard-server\charts\
Change the .bat to suit your needs.

To do: Add if not exist to

[2021-11-27 18:53] BjornB2 opened #36 "Minor requests/bugs"
First of all thanks for the great tool. It really works great.
After using it for a couple of hours I have some minor requests and bugs:

[Request] I would really like the zoom setting (and probably also the other settings in the bottom left) to be saved. Now everytime I have to set the zoom level for VR, which means I keep pressing the + until the toolbar shifts from right to the top. I would not

[2021-12-19 08:28] BigAlsFlying commented on #26
Hi @Christian1984  wonderful app love using it make getting around in VR a lot easier . Agree with @xxTheGoDxx xxTheGoDxx  if it was able to be opened in external web browser using the ip-address:9000 that would be great. Also I'm sure for a while when I was running the free version that was the case as I was able to run MSFS2020 on on my gaming pc  &  access FSKNEEBOARD on my other pc using ip-ad

[2022-02-11 15:00] andyanfieldroad commented on #8
I personally would love it if the notepad had an on-screen keyboard down the bottom like your phone does.  Click on the notepad screen to place the cursor and type away.

[2022-02-11 15:16] andyanfieldroad opened #37 "Request: VFR navigation map tools"
As a VFR PPL pilot in real life and using MSFS for practice it is necessary for me to be able to interact with the VFR map in such a way that I can do the following:

- Measure distance point to point maybe by drawing a line and it having a value in the middle of the line in NM, ideally be able to leave these measurement lines on the map and an eraser feature to delete them
- Measure heading from

[2022-02-11 17:06] Christian1984 commented on #8
You mean like that? https://discord.com/channels/849188204426690562/850776119963287593/941629478407389255 :-) It's "fresh off the press" and will be released soon with v1.6 - Physical keyboard inputs work as well, but might interfere with MSFS hotkeys (think typing "G" and your landing gear might retract)...

[2022-02-11 17:07] Christian1984 commented on #8
Implemented. To be released with v1.6

[2022-02-11 17:30] Christian1984 commented on #36
Hey there. A lot to cover :-)

Fixed! Will be released with v1.6

Question/Verification: Ist this still an issue? Personally, I have never encountered it.

Question/Verification: The popup should disappear as soon as you change back to waypoint mode. Is this still an issue?

Works for me: Click the corresponding waypoint to show/hide the nav flag (see https://github.com/Christian1984/vfrmap-for-vr

[2022-02-11 17:32] #36 closed, assigned to nobody

[2022-02-11 17:45] Christian1984 commented on #34
Hi Strat919 and sorry for the late reply. See comments inline below:

Yes, totally possible. Please run `fskneeboard.exe --quietshutdown` as described in the docs here: https://github.com/Christian1984/vfrmap-for-vr#advanced-usage - That should solve your issue :-)

Yes, that will be released with upcoming v1.6 - The maps zoom will not be persisted, but the resolution scaling is, hence it doesn't

[2022-02-11 17:45] #34 closed, assigned to nobody

[2022-02-11 17:46] Christian1984 commented on #26
This will be fixed in upcoming v1.6 :+1:

[2022-02-11 17:46] #26 closed, assigned to Christian1984

[2022-02-11 17:52] Christian1984 commented on #10
This will be fixed with upcoming v1.6!

[2022-02-11 17:52] #10 closed, assigned to Christian1984

[2022-02-11 17:52] #8 closed, assigned to Christian1984

[2022-02-11 17:54] Christian1984 commented on #37
I like the ideas and I think most of it is feasible, though requires some work. Hence I can't make any promises right now. But I'll put it in the backlog and will consider implementing it step by step.

[2022-02-12 08:17] Christian1984 commented on #24
This issue hasn't received any feedback from the reporter sind september. I'll close it for now. If the issue persists/reappears, please comment and reopen it.

[2022-02-12 08:17] #24 closed, assigned to nobody

[2022-02-12 08:19] Christian1984 commented on #31
Calculation of NM is fixed and will be released with the upcoming v1.6 update!

[2022-02-12 08:19] #31 closed, assigned to Christian1984

[2022-02-27 12:07] OverWorldD opened #38 "Request: Chartfox integration"
I believe chartfox is the best free chart service for simmers. It can be integrated into the X-Plane Avitab plugin, and it would be great if it could be added to fskneeboard!

Also, in the same category - most charts are published in pdf form. Could you please make it possible to show a pdf file, not only png. There is so much extra hassle converting the pdf's. I did not realize this before I boug

[2022-02-27 16:13] OverWorldD commented on #35
Where do I set the server directory for charts?

[2022-02-27 16:19] BjornB2 commented on #35
You would have to edit the .bat file in the main folder, but the default folder is on many lines so make sure you edit it in all places. I can see if I can put it in a variable so you have to set it only once.

[2022-02-27 16:41] BjornB2 commented on #35
[fskneeboard-charts.zip](https://github.com/Christian1984/vfrmap-for-vr/files/8149021/fskneeboard-charts.zip)

In this version you can edit the server location in the top of the click_me_to_prepare.bat file. Make sure there is no trailing \ or any spaces at the end of this line.

[2022-02-28 11:30] andyanfieldroad opened #39 "Using full size PNG images of actual navigation charts"
I have exported from PDF the actual AirServicesAustralia navigation charts that I use in real life.  I intend to then customise this for actual flights by creating a new image with all the lines and annotation I would put on in real life and then loading it in FSkneeboard.

Is there any limit to the image size for the chart viewer?  Or any other limitations I should know about?  at 400dpi the imag

[2022-02-28 11:33] andyanfieldroad commented on #39
...Or can I in any way use this PNG as a Map in FSkb?

[2022-03-06 16:05] OverWorldD commented on #35
Thank you!

[2022-03-14 01:15] andyanfieldroad opened #40 "Feature Request - charts fine rotate feature"
As a VFR real world pilot using MSFS for practice I need to be able to load real world charts into FSKneeboard as image files.  This is easily accomplished since you can often get real world navigation charts to download as pdf files and then export them as a PNG.

However, when flying I need to orient the chart to the track direction and the existing rotate feature only works in steps of 90 degre

[2022-03-14 12:34] #39 closed, assigned to nobody

[2022-03-14 12:43] andyanfieldroad commented on #39
I have established there are no issues loading large PNG files of real world AirServicesAustralia charts.

I have exported these from PDF to PNG at 200DPI using GIMP, edited to draw flight plan lines as you would in real life with markers for ToC, groundspeed checks, VOR radials crossings etc and then loaded them successfully into the chart viewer.

What would be nice is if there was drawing tools

[2022-03-14 13:10] andyanfieldroad commented on #37
Hi Christian,

I think the same idea as the notepad feature but applied as a layer on top of the chart view would also be a great idea.  I'm using real world navigation maps imported in and it'd be great to be able to take notes on it in flight as I'm going.

[2022-03-15 01:26] andyanfieldroad opened #41 "Map location is stuck on an airport in Germany"
I am finding an issue whenever I run FSKneeboard where the map location is always some airport in Germany I have never been to in MSFS.  I cannot move the aircraft and the button to recenter on the aircraft does not work.  There are no apparent errors in the console.

[2022-03-18 12:40] #41 closed, assigned to nobody

[2022-03-18 12:41] andyanfieldroad commented on #41
Solved, I needed to start FSK after MSFS

[2022-08-15 11:14] Christian1984 commented on #40
done, to be released with v1.9

[2022-08-15 11:14] #40 closed, assigned to Christian1984

[2022-08-15 11:39] Christian1984 commented on #32
done! to be released with v1.9

[2022-08-15 11:39] #32 closed, assigned to Christian1984

[2022-08-16 05:16] Christian1984 commented on #35
done! to be released with v1.9

[2022-08-16 05:16] #35 closed, assigned to Christian1984

[2022-11-27 23:20] yoyo251 opened #42 "Why I need always close FSKneeboard when I restart MSFS?"
I still dont know why? ;)
The software asked me, when MSFS was closed to close FS Kneebord too. Its clear when I dont want to fly again, but what if Id like to fly again? If I push "No" (dont close), FS Kneebord doesnt work even if I reopen MSFS. So no any logic for me here. It should work like this:

1/ if the software is open it will work with MSFS every time (even I start the next session of MS